
<div class="main select-reader">
    <div class="sub-head">
        <a href="/deck"><p>リーダー選択へ</p></a>
        <a href=""><p>保存</p></a>
    </div>
    <div class="editer">
        <div id="arrayLengthDisplay"></div>
        <div class="card_area">
            <div class="cards">
                <ul>
                    <% @characters.each do |card| %>
                        <% @kataban = card.kataban %>
                        <li>
                            <img class="cardsImage" id="<%= @kataban %>" src="<%= card.image_url %>" width=80% height=80% draggable="true">
                        </li>
                    <% end %>
                    <% @events.each do |card| %>
                        <% @kataban = card.kataban %>
                        <li>
                            <img class="cardsImage" id="<%= @kataban %>" src="<%= card.image_url %>" width=80% height=80% draggable="true">
                        </li>
                    <% end %>
                    <% @stages.each do |card| %>
                        <% @kataban = card.kataban %>
                        <li>
                            <img class="cardsImage" id="<%= @kataban %>" src="<%= card.image_url %>" width=80% height=80% draggable="true">
                        </li>
                    <% end %>

                    <% if @leader.color.length == 3 %>
                        <% @characters2.each do |card| %>
                            <% @kataban = card.kataban %>
                            <li>
                                <img class="cardsImage" id="<%= @kataban %>" src="<%= card.image_url %>" width=80% height=80% draggable="true">
                            </li>
                        <% end %>
                        <% @events2.each do |card| %>
                            <% @kataban = card.kataban %>
                            <li>
                                <img class="cardsImage" id="<%= @kataban %>" src="<%= card.image_url %>" width=80% height=80% draggable="true">
                            </li>
                        <% end %>
                        <% @stages2.each do |card| %>
                            <% @kataban = card.kataban %>
                            <li>
                                <img class="cardsImage" id="<%= @kataban %>" src="<%= card.image_url %>" width=80% height=80% draggable="true">
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>

        </div>

        <div class="create_deck" draggable="false">    
            <ul class="selectlist" id="listSelectCard">

            </ul>
        </div>
    </div>

</div>

<div class="popup" id="popup">
    <span class="close-btn" id="closeBtn">&times;</span>
    <img src="" alt="Popup Image" id="popupImage">
</div>









